DATABASE="database"
OUTPUT_DIR="./backups"
S3_BUCKET=""
S3_REGION="auto"
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_ENDPOINT="https://<account>.r2.cloudflarestorage.com"
S3_PREFIX="backups"
DISCORD_WEBHOOK_URL=""
RETENTION_DAYS="7"
COMPRESSION_LEVEL="8"
PGHOST=""
PGPORT=""
PGUSER="postgres"
